{% extends 'layout.html' %}
    {% block content %}
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group pt-3">
                    <legend class="border-bottom mb-4">Login</legend>
                    <div class="form-group">
                        {{ form.uname.label(class="form-control-label") }}
                        {% if form.uname.errors %}
                            {{ form.uname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.uname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.uname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                      <div class="form-group pt-3">
                        {{ form.passw.label(class="form-control-label") }}
                        {% if form.passw.errors %}
                            {{ form.passw(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.passw.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.passw(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div>
                        <div class="form-check pt-3">
                            {{ form.remember(class="form-check-input")}}
                            {{ form.remember.label(class="form-check-label")}}
                        </div>
                    </div>

                </fieldset>
                <div class="form-group pt-3">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <small class="text-muted ml-2 pt-3">
                    <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                </small>
            </form>
        </div>
        <div class="border-top">
            <small class="text-muted">
                Need an Account? <a class="ml-2" href="{{ url_for('users.Register') }}">Sign up</a>
            </small>
        </div>

    {% endblock content %}